/* css styles */

.card-container {
  margin: 100px auto;
  max-width: 600px;
}

.button-card {
  background: $card-bg-color; /* Replace with the actual color value */
  border-radius: 20px;
  font-size: clamp(0.5rem, calc(0.6rem + 0.8vw), 1.25rem);
  filter: drop-shadow(8px 8px 0px $card-border-color); /* Replace with the actual color value */
  padding: $card-padding; /* Replace with the actual padding value */
  border: 4px solid $card-border-color; /* Replace with the actual color value */
}

.button-card .header {
  display: flex;
  align-items: center;
  background: hsla(185, 100%, 50%, 1);
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  font-size: clamp(0.6rem, calc(0.7rem + 1vw), 1.5rem);
  font-weight: bold;
  position: relative;
}

.button-card .header .header-left {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 200ms linear;
}

.button-card .header .header-left:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 368px) {
  .button-card .header {
    max-width: 12rem;
    top: -3.5rem;
    right: 1rem;
  }
}

.button-card .button-card-image {
  max-width: 100%;
  max-height: 30%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.button-card .content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  text-align: left;
  display: inline-block;
}

button {
  margin: 0 5px;
  background: $card-bg-color; /* Replace with the actual color value */
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 6px;
  border: 3px solid $card-border-color; /* Replace with the actual color value */
  box-shadow: $btn-shadow; /* Replace with the actual shadow value */
  cursor: pointer;
}

button.primary {
  background: $primary; /* Replace with the actual color value */
  color: $card-bg-color; /* Replace with the actual color value */
}

button.secondary {
  background: $secondary; /* Replace with the actual color value */
  color: $card-bg-color; /* Replace with the actual color value */
}

button.bright {
  background: $yellow; /* Replace with the actual color value */
  color: $dark; /* Replace with the actual color value */
}

button:active {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px $card-border-color; /* Replace with the actual color value */
}

.neo-btn {
  margin: 0 5px;
  background: $card-bg-color; /* Replace with the actual color value */
  font-size: 1.1rem;
  padding: 10px 15px;
  border-radius: 6px;
  border: 3px solid $card-border-color; /* Replace with the actual color value */
  box-shadow: $btn-shadow; /* Replace with the actual shadow value */
  font-variant: small-caps;
  cursor: pointer;
}

.neo-btn.dark {
  background: $secondary; /* Replace with the actual color value */
  color: $card-bg-color; /* Replace with the actual color value */
}

.neo-btn.pink {
  background: $primary; /* Replace with the actual color value */
  color: $yellow; /* Replace with the actual color value */
}

.neo-btn.yellow {
  background: $yellow; /* Replace with the actual color value */
  color: $dark; /* Replace with the actual color value */
}

.neo-btn.blue {
  background: $cyan; /* Replace with the actual color value */
  color: $dark; /* Replace with the actual color value */
}

.neo-btn:active {
  transform: translateY(4px);
  box
